name: prettier

on:
  push:
  pull_request:

jobs:
  prettier:
    runs-on: ubuntu-latest
    container: node:19
    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: node_modules
        key: node-modules-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
        restore-keys: |
          node-modules-${{ runner.os }}-
    - name: Check prettier
      run: |
        yarn
        yarn prettier:check
